.movie-item{
   height: 300px;
   width: 230px;
   /* border: 2px solid red; */
   transition : transform 0.5s;
}
.movie-item:hover{
    transform:scale(1.2);
}
.movie-poster{
    height: 90%;
    width: 100%;
}
.movie-poster img{
    height: 100%;
    width: 100%;
}
.movie-info{
    height: 10%;
  background:rgb(37, 35, 35);
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  /* font-size: 0.9rem; */
  /* align-items: center; */
  overflow: hidden;
}
.movie-title{

}
.movie-rating{

}